<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.7/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--Local CSS-->
<link rel="stylesheet" href="/static/style.css">

<!--Title tamplated-->
<title>{% block title %}{% endblock %} - Rainy Day</title>
</head>
<body>
    {% block navbar %}{% endblock %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Rainy Day</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if not session.get('logged_in') %}
                <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="" id="content">{% block content %} {% endblock %}</div>

    {% block footer %}{% endblock %}
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Rainy Day</a>
        </div>
        <p class="navbar-text">Copyright 2018 by Artin Bogdanov</p>
      </div>
    </nav>

</body>
</html>